[defaults]
retry_files_enabled = False
result_format      = yaml
host_key_checking  = False

# Уменьшаем параллелизм, чтобы сократить нагрузку на канал
forks              = 6
# poll_interval      = 1

# Ограничиваем время сборки фактов
timeout            = 60

[ssh_connection]
# Режим persistent (ControlMaster) даёт прирост даже на 3G,
# но важно увеличить время «жизни» сокета и «поддерживать жизнь» SSH-канала.
ssh_args           = -o ServerAliveInterval=60 -o ServerAliveCountMax=5 -o TCPKeepAlive=yes
control_path       = %(directory)s/%%h-%%r
control_persist    = 600s

# При очень плохом канале (частые обрывы) можно мягко увеличить количество попыток:
retries            = 3

[connection]
# Пайплайнинг ускоряет работу, но иногда ломается при лимитах MTU и т.д.
pipelining         = True

# Дополнительно: переопределяем тайм-ауты команд, если плейбуки выполняют долгие операции
command_timeout    = 1800

