{# SPDX-FileCopyrightText: 2026 MASH project contributors
SPDX-License-Identifier: AGPL-3.0-or-later #}
---
directives:
  default-src: ["'none'"]
  base-uri: ["'self'"]
  child-src: ["'self'"]
  connect-src: ["'self'", "blob:", "https://update.opencloud.eu/"]
  font-src: ["'self'"]
  frame-ancestors: ["'self'"]
  frame-src:
    - "'self'"
    - "blob:"
{% if opencloud_collaboration_enabled %}
    - {{ opencloud_collaboration_app_url | to_json }}
{% endif %}
  img-src:
    - "'self'"
    - "data:"
    - "blob:"
{% if opencloud_collaboration_enabled %}
    - {{ opencloud_collaboration_app_url | to_json }}
{% endif %}
  manifest-src: ["'self'"]
  media-src: ["'self'"]
  object-src: ["'self'", "blob:"]
  script-src: ["'self'", "'unsafe-inline'"]
  style-src: ["'self'", "'unsafe-inline'", "blob:"]
  worker-src: ["'self'", "blob:"]
