{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 noah
SPDX-FileCopyrightText: 2026 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if opencloud_container_labels_traefik_enabled %}
traefik.enable=true

{% if opencloud_container_labels_traefik_docker_network %}
traefik.docker.network={{ opencloud_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if opencloud_container_labels_traefik_middleware_basic_auth_enabled %}
{% set middlewares = middlewares + [opencloud_identifier + '-basic-auth'] %}
traefik.http.middlewares.{{ opencloud_identifier }}-basic-auth.basicauth.users={{ opencloud_container_labels_traefik_middleware_basic_auth_users }}
{% endif %}

{% if opencloud_container_labels_traefik_compression_middleware_enabled %}
{% set middlewares = middlewares + [opencloud_container_labels_traefik_compression_middleware_name] %}
{% endif %}



{% if opencloud_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in opencloud_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ opencloud_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [opencloud_identifier + '-add-request-headers'] %}
{% endif %}

{% if opencloud_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in opencloud_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ opencloud_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [opencloud_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ opencloud_identifier }}.rule={{ opencloud_container_labels_traefik_rule }}
{% if opencloud_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ opencloud_identifier }}.priority={{ opencloud_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ opencloud_identifier }}.service={{ opencloud_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ opencloud_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ opencloud_identifier }}.entrypoints={{ opencloud_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ opencloud_identifier }}.tls={{ opencloud_container_labels_traefik_tls | to_json }}
{% if opencloud_container_labels_traefik_tls %}
traefik.http.routers.{{ opencloud_identifier }}.tls.certResolver={{ opencloud_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ opencloud_identifier }}.loadbalancer.server.port={{ opencloud_container_http_port }}
{% endif %}

{% for arg in opencloud_container_labels_additional_labels %}
{{ arg }}
{% endfor %}
